html,
body,
#__nuxt {
    min-height: 100dvh;
    margin: 0;
    padding: 0;
}

html {
    @apply font-sans;
}

body,
#__nuxt {
    @apply color-base bg-base;
}

// MDC styling
.MDC {
    >h1:first-child {
        @apply text-32px line-height-normal m-block-0.67em;
    }

    h2 {
        @apply text-size-20px;
    }

    code.inline-code {
        // Have to manually add border colors
        @apply bg-code py-0.5 px-1 rounded-md font-mono inline-block contrast:(border-solid border-1 light:b-neutral-7 dark:b-neutral-3);

        // text-sm but with em instead of rem
        font-size: 0.875em;
        line-height: 1.25em;
    }
}

a {
    > code.inline-code {
        @apply underline;
    }

    &:any-link {
        @apply color-active;
    }
}

table {
    @apply border-spacing-0 border-collapse of-auto;
    width: max-content;
    max-width: 100%;


    td,
    th {
        @apply px-2 py-1 b-solid border-base b-1;

    }

    tr:nth-child(2n) {
        @apply bg-secondary:70;
    }

    &,
    tr,
    td,
    th,
    thead,
    tbody {
        box-sizing: border-box;
    }
}